* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
    background-color: #EEE;
}

header {
    color: yellow;
    background-color: red;
    padding: 20px;
}

div {
    display: flex;
    justify-content: center;
    
}

section {
    background-color: white;
    color: #000;
    max-width: 47%;
    margin: 20px auto;
    padding: 10px 20px; 
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(200,200,200,1.7);
    flex-basis: 100%;    
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}

a {
    border: 3px solid red;
    background-color: red;
    color: yellow;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    
}

a:hover {
    background-color: white;
    color: red;
}

section p {
    margin: 30px 0px; 
    text-align: center;
}

footer {
    text-align: center;
    margin-right: 10px;
}

#flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (min-width:850px) {
    h1 {
        text-align: left;
    }
    
}